html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

#background {
  background-color: #000;
  background-image: url(../images/bg.jpg);
  background-position: center;
  background-size: cover;
  display: table;
  height: 100%;
  width: 100%
}

#loginContainer * {
  color: #fff;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: normal;
  line-height: 1em;
  box-sizing: border-box;
}

#loginContainer {
  width: 80%;
  margin: 0 auto;
  position: relative;
  max-width: 1024px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #fff;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #fff;
}


#inputContainer {
  width: 400px;
  padding: 45px;
  float: left;
  border-right: 1px solid #999;
}

#inputContainer h2 {
  text-align: center;
}

#inputContainer input[type="text"],
#inputContainer input[type="email"],
#inputContainer input[type="password"] {
  display: block;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #fff;
  height: 27px;
  line-height: 27px;
  width: 100%;
}

#inputContainer label {
  color: #a0a0a0;
  font-size: 13px;
  margin-top: 15px;
  display: block; 
}

#inputContainer button {
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 250px;
  color: #fff;
  display: block;
  font-size: 14px;
  letter-spacing: 1px;
  margin: 20px auto;
  height: 41px;
  width: 100%;
}

#inputContainer button:hover {
  cursor: pointer;
}

.hasAccountText span {
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
}

.hasAccountText {
  text-align: center;
}

#registerForm,
#loginForm {
  display: none;
}

#loginText {
  padding: 45px;
  display: table-cell;
}

#loginText h1 {
  color: #07d159;
  font-size: 60px;
  font-weight: bold;
}

#loginText h2 {
  margin: 35px 0;
}

#loginText ul {
  padding: 0;
}

#loginText li {
  font-size: 20px;
  list-style-type: none;
  padding: 5px 30px;
  background: url(../images/icons/checkmark.png) no-repeat;
}

#inputContainer .errorMessage {
  color: #07d159;
  font-size: 12px;
  display: block;
}
